* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    overflow-x: hidden; /* Zapobieganie poziomemu przewijaniu */
}

.container {
    width: 100%;
}

.container .row {
    width: 80%;
    margin: auto;
}

.header {
    text-align: center; /* Wyśrodkowanie nagłówka */
}

.header-img,
.weather-img,
.content-img {
    max-width: 100%; /* Ograniczenie szerokości do szerokości ekranu */
    height: auto;
    display: block;
    margin: auto; /* Wyśrodkowanie obrazków */
    max-height: 350px;
}

.container .row .header h1 {
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
}

.container .row .header p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}

.content .card {
    flex: 1;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8bd;
}

.content .card img {
    width: 100%;
    height: auto;
}

.content .card p {
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .content {
        flex-direction: column;
    }
}
